{% extends 'index.html' %}

{% block page %}

<div class="container-fluid center-column" style="background-color: var(--secondary); width: 30vw;">
    <div class="col">
        <div class="row">
            <form method="POST" action="">
                {% csrf_token %}
                <h4>Are you sure you want to delete?</h4>
                <input type="submit" value="yes">
        </div>
        <hr>
        <div class="row">
            <a href="{% url 'home' %}">No, Take me back</a>
        </div>
    </div>
</div>

{% endblock page %}