{% extends 'index.html' %}

{% block page %}

{% if request.user.is_authenticated %}

<!-- Added custom container classes to create a styled design -->
<div class="bg-container-custom">
    <div class="container-fluid center-column-home">
      
            <!-- Parsing through all the data in the Room model and showing it in the frontend -->
            {% for room in rooms %}
            <div class="item-row row">
                <div class="col-md-3">
                    <img src={{ room.book.image.url }} class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h2 style="color: var(--dark-text);">{{ room.name }}</h2>
                    <h4>Book: {{ room.book.name }}</h4>
                    <div class="row pl-3"><h5>@{{ room.host.username }}</h5>&nbsp;-&nbsp;<h5>{{ room.date_created }}</h5></div>
                    <a href="{% url 'chat-room' room.id %}">Enter</a>
                    <h5 class="pt-3">{{ room.description|linebreaks }}</h5>
                </div>       
            </div>
            {% endfor %}
       
    </div>
</div>
{% endif %}


    



{% endblock page %}