{% extends 'index.html' %}

{% block page %}

<!-- Added custom container classes to create a styled design -->
<div class="bg-container-custom">
    <div class="container-fluid center-column-home">
      
            <!-- Parsing through all the data in the Room model and showing it in the frontend -->
            {% for room in rooms %}
            <div class="item-row">
                <h2>{{ room.name }}</h2>
                <h3>@{{ room.host.username }}</h3>
                <h5>created: {{ room.date_created }}</h5>
                <h3>{{ room.description }}</h3>
                <a>Enter Discussion</a>
            </div>
            {% endfor %}
       
    </div>
</div>

    



{% endblock page %}