{% extends 'index.html' %}
{% load static %}

{% block page %} 
    <!-- Added a basic navbar template to style the landing page navbar using Bootstrap -->
    <div class="container-fluid banner">
        <div class="row footerSpacing">
            <div class="col-md-12">
                <nav class="navbar">
                    <div class="navbar-brand" style="font-family: 'OCR A Std', monospace; color: var(--secondary);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                        BOOKLUB
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a type="button" class="nav-link btn btn-outline-light rounded-pill" data-mdb-ripple-color="dark" href="{% url 'login' %}">Log In</a>
                        </li>
                    </ul>
            </div>
            <!-- REMINDER: center this text -->
            <div class="container">
                <h1 class="text-center" style="color: white;">Welcome to <strong style="font-family: 'OCR A Std', monospace; color: var(--secondary);">BOOKLUB</strong></h1>
                <div class="col text-center">
                    <a type="button" class="btn btn-outline-light mt-3 rounded-pill justify" data-mdb-ripple-color="dark" href="{% url 'login' %}">
                        Register Now
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </a>
                </div>
                
            </div>
            <!-- REMINDER: center this text -->
        </div>
        <footer class="footer text-center">@2022 Atiqul Islam, All Rights Reserved</footer>
    </div>
       
            

{% endblock page %}