{% extends 'index.html' %}

{% block page %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <form>
                    <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="h4 pt-5">Chat Room</label>
<textarea class="form-control" id="chat-text" rows="20" cols='0' readonly>
{% for chat in chats.all %}
{{chat.user}}: {{ chat.message }} 
{% endfor %}
</textarea><br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input" type="text"></br>
                    </div>
                    <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
                </form>
            </div>
        </div>
    </div>


    {{ request.user.username|json_script:"user_username" }}
    {{ pk|json_script:'pk'}}
    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);


        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input')
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));
            messageInputDom.value = '';
        }

        const id = JSON.parse(document.getElementById('pk').textContent);
        const username = JSON.parse(document.getElementById('user_username').textContent);
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/socket-server/' +
            id +
            '/'
        );

        document.getElementById('chat-text').scrollTop =  document.getElementById('chat-text').scrollHeight

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n' + '\n')
            document.querySelector('#chat-text').className = 'form-control'
            document.getElementById("chat-text").scrollTop = document.getElementById("chat-text").scrollHeight 
            document.getElementById('input').addEventListener('keypress', function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                 }   
            });

        }

        

    </script>
{% endblock page %}