{% extends 'index.html' %}

{% block page %}
<!-- Added form group so the login form can be styled via widgets -->
    <div class="container-fluid banner">
        <div class="column-register" style="background-color: var(--secondary);">
            <h2 style="color: var(--dark-text);">Login</h2>
            <div class="form-group">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input  class="btn btn-primary" type="submit" value="log in" class="center">
                    <hr>
                    <a href="{% url 'landing-page' %}">Nevermind, take me back</a>
                    
            </div>
        </div>
    </div>
    
{% endblock page %}