{% extends 'index.html' %}

{% block page %}

<!-- Styled this page to reflect home.html -->
<div class="bg-container-custom">
    <div class="container-fluid center-column-home">
        <h1 class="text-center mt-2 mb-2">My Rooms</h1>
        <hr>
        <!-- Parsing through all the data in the Room model and showing it in the frontend -->
        {% for room in rooms %}
            <div class="item-row">
                <h2 style="color: var(--dark-text);">{{ room.name }}</h2>
                <h5>created: {{ room.date_created }}</h5>
                <a href="{% url 'chat-room' room.id %}">Enter</a>
                <a href="{% url 'edit-room' room.id %}">edit</a>
                <a href="{% url 'delete-room' room.id %}">delete</a>
                <h4 class="pt-3">{{ room.description|linebreaks }}</h4>
            </div>
        {% endfor %}
    </div>
</div>

  



{% endblock page %}